body {

	font-size:41px;
	background-image: url("project-zed.jpg");
	background-size:cover;
	font-size: 206%;
	text-align:center;
	font-family:Times New Roman, serif;
	color:#00ff00;
	
	
	}
ul {
	list-style:none;
}
li {
	font-family:Times, serif;
}
a {
color:green;
background-color:white;
}

