body {

	background-image: url("Hi.jpg");
	background-size:cover;
	font-size: 251%;
	text-align:center;
    color: blue;
	background-color: #f44336;
	border: 1px solid;
} 
a:hover
{
    color: red;
	font-weight: bold;
	background-color: blue;
	a {
}
ul {
	border: none
}