body {
	background-image: url("hi.jpg");
	background-size: cover;
	text-align: left;
	color:white; 	
    font-size: 50px;
   }	
.text {
	opacity: 0.8;
}
ul {
	list-style: none;
}
a {
	color: white;
	text-decoration: none;
}